/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.5rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  height: 46px;
  outline: none;
  color: #8C8C8E;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 12px 20px;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #E6E6E6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form_control::-moz-placeholder {
  color: #8C8C8E;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #8C8C8E;
}
.form_control::-webkit-input-placeholder {
  color: #8C8C8E;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}
.form_control.error {
  border-color: #e2001a;
}

textarea.form_control {
  height: auto;
  resize: none;
}

.form_label {
  width: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  display: inline-block;
  margin-bottom: 10px;
}

.form_group {
  margin-bottom: 24px;
}

.btn {
  outline: none;
  color: #A58861;
  cursor: pointer;
  min-width: 160px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  user-select: none;
  padding: 12px 25px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #A58861;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  border-radius: 23px;
}
.btn:hover {
  color: #fff;
  background: #A58861;
  text-decoration: none;
}
.btn:active {
  background: #876B46;
  border-color: #876B46;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_brown {
  color: #fff;
  background: #A58861;
}
.btn_brown:hover {
  color: #fff;
  background: #876B46;
  border-color: #876B46;
}
.btn_brown:active {
  background: #A58861;
  border-color: #A58861;
}

.btn_text {
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  border-color: transparent;
  background-color: transparent;
}
.btn_text:hover {
  color: #191A1E;
  border-color: transparent;
  background-color: transparent;
}
.btn_text:active {
  color: #A58861;
  border-color: transparent;
  background-color: transparent;
}

.btn_icon {
  padding: 0;
  width: 36px;
  height: 36px;
  font-size: 0;
  line-height: 0;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #A58861;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.btn_icon:hover {
  text-decoration: none;
  background-color: #876B46;
}
.btn_icon_download {
  background-image: url("../img/icon__download.svg");
}
.btn_icon_reload {
  background-image: url("../img/icon__reload.svg");
}

.btn_delete {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  background: transparent url("../img/icon__delete.svg") 50% 50% no-repeat;
}

.btn_edit {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  background: transparent url("../img/icon__edit.svg") 50% 50% no-repeat;
}

.btn_group {
  margin: 0 -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn_group .btn {
  margin: 0 5px;
}

.embed_responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed_responsive::before {
  display: block;
  content: "";
}
.embed_responsive .embed_responsive_item,
.embed_responsive iframe,
.embed_responsive embed,
.embed_responsive object,
.embed_responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive_21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive_16by9::before {
  padding-top: 56.25%;
}

.embed-responsive_4by3::before {
  padding-top: 75%;
}

.embed-responsive_1by1::before {
  padding-top: 100%;
}

.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text_center {
  text-align: center !important;
}

.text_right {
  text-align: right !important;
}

.text_justify {
  text-align: justify !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.text_lowercase {
  text-transform: lowercase !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.text_capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.font_medium {
  font-weight: 500 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #191A1E;
  font-family: "Rubik", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: 1.2;
}

.container {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.container_fluid {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container_fluid:before, .container_fluid:after {
  content: " ";
  display: table;
}
.container_fluid:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.6rem;
  margin-bottom: 10px;
  font-family: "Rubik", Arial, sans-serif;
}

h2, .h2 {
  font-size: 3rem;
  font-family: "Rubik", Arial, sans-serif;
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Rubik", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Rubik", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Rubik", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Rubik", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #191A1E;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #191A1E;
  text-decoration: none;
}

.nav {
  height: 160px;
  padding: 51px 0;
  background: url("../img/nav_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.nav__menu {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.nav__menu > li {
  width: 170px;
  display: block;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.nav__menu > li > a {
  color: #fff;
  width: 170px;
  height: 58px;
  padding: 5px 10px;
  font-weight: 500;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav__menu > li > a span {
  margin: auto 0;
  display: inline-block;
}
.nav__menu > li > a:hover {
  color: #191A1E;
  background: #fff;
  text-decoration: none;
}
.nav__menu > li:first-child > a {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.nav__menu > li:last-child > a {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.nav__menu > li.active > a {
  color: #191A1E;
  background: #fff;
}

.header {
  padding: 15px 0;
}
.header__row {
  height: 110px;
  padding: 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  color: #191A1E;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__logo_icon {
  width: 88px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__logo_text {
  padding-left: 20px;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.header__logo_text span {
  display: block;
}
.header__logo_text strong {
  color: #A58861;
  display: block;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.header__logo:hover {
  color: #191A1E;
  text-decoration: none;
}
.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.header__menu .btn {
  width: 160px;
  margin-left: 10px;
}

.footer {
  color: #fff;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  background: #191A1E;
}
.footer__row {
  height: 80px;
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__text {
  width: 100%;
  opacity: 0.7;
  margin: auto 0;
  display: block;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding-top: 50px;
  padding-bottom: 90px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.main_author {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 20px;
}
.main_author a {
  color: #A58861;
  text-decoration: none;
}
.main_author a:hover {
  color: #A58861;
  text-decoration: underline;
}

.primary {
  height: 380px;
  padding-top: 70px;
  background: url("../img/primary_bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.primary__heading {
  color: #fff;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.2rem;
  text-align: center;
  margin-bottom: 32px;
}
.primary__heading strong {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.primary__heading span {
  display: block;
}
.primary__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col_3 {
  width: 33.33%;
  padding: 0 15px;
}

.directory {
  width: 100%;
  height: 220px;
  display: block;
  color: #191A1E;
  padding: 50px 30px;
  position: relative;
  background: #EEF0F0;
  text-decoration: none;
  margin-bottom: 30px;
}
.directory:hover {
  color: #191A1E;
  text-decoration: none;
}
.directory__title {
  width: 190px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.directory__link {
  left: 30px;
  bottom: 34px;
  color: #A58861;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  position: absolute;
  display: inline-block;
  padding-right: 20px;
  background: url("../img/arrow_right.svg") 100% 50% no-repeat;
}
.directory__files {
  top: 50%;
  right: 30px;
  width: 106px;
  height: 106px;
  color: #A58861;
  display: block;
  font-size: 0;
  line-height: 0;
  padding-top: 20px;
  text-align: center;
  margin-top: -53px;
  position: absolute;
  border: 2px solid #A58861;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.directory__files strong {
  display: block;
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 4.2rem;
}
.directory__files span {
  display: block;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.heading {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.heading__title {
  color: #191A1E;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.heading__actions a {
  margin-left: 6px;
}
.heading__search {
  width: 888px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  color: #fff;
  border: none;
  text-align: left;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  background: #191A1E;
  padding: 17px 20px;
  vertical-align: middle;
}
.table td {
  border: none;
  text-align: left;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 17px 20px;
  vertical-align: middle;
}
.table td a {
  color: #191A1E;
  text-decoration: none;
}
.table td a:hover {
  color: #A58861;
  text-decoration: none;
}
.table td .btn_edit + .btn_delete {
  margin-left: 5px;
}
.table tr:nth-child(odd) td {
  background-color: #EEEEEE;
}

.search {
  position: relative;
}
.search .form_control {
  padding-right: 50px;
  background: transparent;
}
.search__btn {
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  opacity: 1;
  z-index: 10;
  width: 46px;
  height: 46px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: transparent url("../img/icon__search.svg") 50% 50% no-repeat;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.search__btn:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.search_inline .form_control {
  padding-left: 80px;
}
.search__nav {
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  z-index: 20;
  display: block;
  position: absolute;
}
.search__nav_toggle {
  z-index: 20;
  width: 100%;
  height: 46px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: relative;
}
.search__nav_toggle span {
  top: 50%;
  left: 12px;
  width: 25px;
  height: 16px;
  margin-top: -8px;
  position: absolute;
  display: inline-block;
  border-top: 1px solid #A58861;
  border-bottom: 1px solid #A58861;
}
.search__nav_toggle span:before {
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  display: inline-block;
  background: #A58861;
}
.search__nav_toggle:before {
  top: 50%;
  left: 47px;
  width: 16px;
  height: 9px;
  content: "";
  margin-top: -4px;
  position: absolute;
  display: inline-block;
  background: url("../img/icon__angle_down.svg") 50% 50% no-repeat;
}

.hide_bar {
  display: none;
  padding-top: 10px;
  margin-bottom: 40px;
}
.hide_bar__row {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.hide_bar__item {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.hide_bar__item_sm {
  width: 82px;
}
.hide_bar__item_md {
  width: 184px;
  margin-right: 10px;
}
.hide_bar__item_lg {
  width: 280px;
}
.hide_bar .btn {
  width: 160px;
}

.pagination {
  padding: 0;
  color: #191A1E;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8rem;
  list-style: none;
  margin: 0 0 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.pagination li {
  width: 50px;
  display: block;
  margin-left: -1px;
}
.pagination li a {
  width: 50px;
  height: 50px;
  display: block;
  padding: 15px 0;
  position: relative;
  text-align: center;
  color: #191A1E;
  text-decoration: none;
  border: 1px solid #A58861;
}
.pagination li a:hover {
  color: #fff;
  background: #A58861;
  text-decoration: none;
}
.pagination li a:hover .ico_svg {
  stroke: #fff;
}
.pagination li a.pagination_prev, .pagination li a.pagination_next {
  font-size: 0;
  line-height: 0;
}
.pagination li a.pagination_prev i, .pagination li a.pagination_next i {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 14px;
  position: absolute;
  display: inline-block;
  margin: -7px 0 0 -4px;
}
.pagination li a.pagination_prev .ico_svg, .pagination li a.pagination_next .ico_svg {
  stroke: #191A1E;
}
.pagination li a.pagination_prev:hover .ico_svg, .pagination li a.pagination_next:hover .ico_svg {
  stroke: #fff;
}
.pagination li a.pagination_next i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pagination li.active a {
  color: #fff;
  font-weight: 500;
  background: #A58861;
}

.btn_zoom {
  opacity: 1;
  width: 22px;
  height: 22px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_zoom:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_zoom_plus {
  background: transparent url("../img/icon__zoom_plus.svg") 50% 50% no-repeat;
}
.btn_zoom_minus {
  background: transparent url("../img/icon__zoom_minus.svg") 50% 50% no-repeat;
}
.btn_zoom + .btn_zoom {
  margin-left: 10px;
}

.board_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.board_row.board_hide .board {
  width: calc(50% - 5px);
}
.board_row.board_hide .board_last {
  display: none;
}
.board_row.board_hide .board__heading_show {
  display: inline-block;
}
.board_row.board_hide .board__content {
  height: 850px;
}
.board_row.board_hide .board__scroll {
  height: 848px;
}

.board {
  width: calc(33% - 5px);
}
.board__heading {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.board__heading_title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: inline-block;
}
.board__heading_toggle {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #A58861;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dashed #A58861;
}
.board__heading_toggle:hover {
  color: #A58861;
  text-decoration: none;
  border-bottom-color: transparent;
}
.board__heading_hide {
  display: inline-block;
}
.board__heading_show {
  display: none;
}
.board__box {
  padding: 15px;
  border: 1px solid #DEDEDE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.board__top {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.board__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.board__link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #A58861;
  display: inline-block;
  text-decoration: none;
}
.board__link:hover {
  color: #A58861;
  text-decoration: none;
}
.board__content {
  height: 700px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.board__content_right {
  margin-right: 0;
  margin-left: 25px;
}
.board__image {
  width: 100%;
}
.board .board_img {
  width: 100%;
  height: auto;
  display: block;
}
.board__text {
  padding: 10px 15px;
}
.board__scroll {
  height: 698px;
}
.board__scroll_right {
  text-align: right;
}
.board__scroll_right .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
  right: auto;
}
.board__scroll .mCustomScrollBox {
  border: 1px solid #DEDEDE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.board__scroll .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  opacity: 1;
  background-color: #DEDEDE;
}
.board__scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  height: 4px;
}
.board__scroll .mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_draggerRail {
  width: 4px;
}
.board__scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
}
.board__scroll .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 8px;
  margin: 4px auto;
}
.board__scroll .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  opacity: 1;
  background-color: #A58861;
}

.btn_save {
  opacity: 1;
  width: 22px;
  height: 22px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  background: transparent url("../img/icon__save.svg") 50% 50% no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_save:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn_nav {
  opacity: 1;
  width: 22px;
  height: 22px;
  border: none;
  outline: none;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_nav:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn_nav_prev {
  background: transparent url("../img/icon__prev.svg") 50% 50% no-repeat;
}
.btn_nav_next {
  background: transparent url("../img/icon__next.svg") 50% 50% no-repeat;
}

.modal {
  width: 660px;
  padding: 0 3px;
  background: #fff;
  overflow: visible;
  font-family: "Rubik", Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.modal__header {
  height: 70px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 5px 60px 5px 30px;
  border-top: 1px solid #E6E6E6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal__header span {
  margin: auto 0;
  display: block;
}
.modal__content {
  padding: 20px 30px 30px 20px;
}
.modal .fancybox-close-small {
  opacity: 1 !important;
  z-index: 10;
  top: -35px;
  right: -35px;
  width: 28px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.modal .fancybox-close-small:after, .modal .fancybox-close-small:before {
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 1px;
  content: "";
  opacity: 1 !important;
  border: none !important;
  outline: none !important;
  display: block;
  position: absolute;
  margin-left: -14px;
  margin-top: -1px;
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.modal .fancybox-close-small:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal .fancybox-close-small:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.modal .fancybox-close-small svg {
  display: none !important;
}
.modal .fancybox-close-small:hover:after, .modal .fancybox-close-small:hover:before {
  opacity: 1 !important;
  background: #fff !important;
}

/*# sourceMappingURL=main.css.map */
