.header {
	padding: 15px 0;

	&__row {
		height: 110px;
		padding: 5px 0;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__logo {
		color: #191A1E;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		&_icon {
			width: 88px;
			@include flex-shrink(0);
		}

		&_text {
			padding-left: 20px;
			font-size: 1.6rem;
			line-height: 1.6rem;

			span {
				display: block;
			}

			strong {
				color: #A58861;
				display: block;
				font-weight: 700;
				font-size: 2.4rem;
				line-height: 2.8rem;
			}
		}

		&:hover {
			color: #191A1E;
			text-decoration: none;
		}
	}

	&__menu {
		@include flexbox();
		@include align-items(center);

		.btn {
			width: 160px;
			margin-left: 10px;
		}
	}
}