.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-top: 50px;
	padding-bottom: 90px;
	@include flex-grow(1);
}

.main_author {
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 20px;

	a {
		color: $color-brown;
		text-decoration: none;

		&:hover {
			color: $color-brown;
			text-decoration: underline;
		}
	}
}

.primary {
	height: 380px;
	padding-top: 70px;
	background: url("../img/primary_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__heading {
		color: #fff;
		font-weight: 500;
		font-size: 2.6rem;
		line-height: 3.2rem;
		text-align: center;
		margin-bottom: 32px;

		strong {
			display: block;
			font-size: 4rem;
			font-weight: 700;
			line-height: 4rem;
			margin-bottom: 5px;
			text-transform: uppercase;
		}

		span {
			display: block;
		}
	}

	&__nav {
		@include flexbox();
		@include justify-content(center);
	}
}

.row {
	margin: 0 -15px;
	@include flexbox();
	@include flex-wrap(wrap);
}


.col_3 {
	width: 33.33%;
	padding: 0 15px;
}

.directory {
	width: 100%;
	height: 220px;
	display: block;
	color: #191A1E;
	padding: 50px 30px;
	position: relative;
	background: #EEF0F0;
	text-decoration: none;
	margin-bottom: 30px;

	&:hover {
		color: #191A1E;
		text-decoration: none;
	}

	&__title {
		width: 190px;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
	}

	&__link {
		left: 30px;
		bottom: 34px;
		color: #A58861;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.2rem;
		position: absolute;
		display: inline-block;
		padding-right: 20px;
		background: url("../img/arrow_right.svg") 100% 50% no-repeat;
	}

	&__files {
		top: 50%;
		right: 30px;
		width: 106px;
		height: 106px;
		color: #A58861;
		display: block;
		font-size: 0;
		line-height: 0;
		padding-top: 20px;
		text-align: center;
		margin-top: -53px;
		position: absolute;
		border: 2px solid #A58861;
		@include border-radius(50%);

		strong {
			display: block;
			font-weight: 400;
			font-size: 4.2rem;
			line-height: 4.2rem;
		}

		span {
			display: block;
			font-size: 1.4rem;
			line-height: 1.4rem;
		}
	}
}

.heading {
	margin-bottom: 20px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);

	&__title {
		color: #191A1E;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.2rem;
	}

	&__actions {

		a {
			margin-left: 6px;
		}
	}

	&__search {
		width: 888px;
	}
}




.table {
	width: 100%;
	border-collapse: collapse;

	th {
		color: #fff;
		border: none;
		text-align: left;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.8rem;
		background: #191A1E;
		padding: 17px 20px;
		vertical-align: middle;
	}

	td {
		border: none;
		text-align: left;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 1.8rem;
		padding: 17px 20px;
		vertical-align: middle;

		a {
			color: $color-base;
			text-decoration: none;

			&:hover {
				color: $color-brown;
				text-decoration: none;
			}
		}

		.btn_edit + .btn_delete {
			margin-left: 5px;
		}
	}

	tr {

		&:nth-child(odd) {

			td {
				background-color: #EEEEEE;
			}
		}
	}
}

.search {
	position: relative;

	.form_control {
		padding-right: 50px;
		background: transparent;
	}

	&__btn {
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		opacity: 1;
		z-index: 10;
		width: 46px;
		height: 46px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: transparent url("../img/icon__search.svg") 50% 50% no-repeat;
		@include border-radius(0 4px 4px 0);
		@include transition(.3s);

		&:hover {
			opacity: 0.7;
			@include transition(.3s);
		}
	}

	&_inline {

		.form_control {
			padding-left: 80px;
		}
	}

	&__nav {
		top: 0;
		left: 0;
		bottom: 0;
		width: 70px;
		z-index: 20;
		display: block;
		position: absolute;

		&_toggle {
			z-index: 20;
			width: 100%;
			height: 46px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: relative;

			span {
				top: 50%;
				left: 12px;
				width: 25px;
				height: 16px;
				margin-top: -8px;
				position: absolute;
				display: inline-block;
				border-top: 1px solid $color-brown;
				border-bottom: 1px solid $color-brown;

				&:before {
					left: 0;
					top: 50%;
					width: 100%;
					height: 1px;
					content: '';
					position: absolute;
					display: inline-block;
					background: $color-brown;
				}
			}

			&:before {
				top: 50%;
				left: 47px;
				width: 16px;
				height: 9px;
				content: '';
				margin-top: -4px;
				position: absolute;
				display: inline-block;
				background: url("../img/icon__angle_down.svg") 50% 50% no-repeat;
			}
		}
	}
}

.hide_bar {
	display: none;
	padding-top: 10px;
	margin-bottom: 40px;

	&__row {
		margin-bottom: 20px;
		@include flexbox();
		@include justify-content(space-between);
	}


	&__item {
		@include flex-shrink(0);

		&_sm {
			width: 82px;
		}

		&_md {
			width: 184px;
			margin-right: 10px;
		}

		&_lg {
			width: 280px;
		}
	}

	.btn {
		width: 160px;
	}
}

.pagination {
	padding: 0;
	color: #191A1E;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.8rem;
	list-style: none;
	margin: 0 0 25px 0;
	@include flexbox();
	@include align-items(center);

	li {
		width: 50px;
		display: block;
		margin-left: -1px;

		span {

		}

		a {
			width: 50px;
			height: 50px;
			display: block;
			padding: 15px 0;
			position: relative;
			text-align: center;
			color: #191A1E;
			text-decoration: none;
			border: 1px solid $color-brown;

			&:hover {
				color: #fff;
				background: $color-brown;
				text-decoration: none;

				.ico_svg {
					stroke: #fff;
				}
			}

			&.pagination_prev,
			&.pagination_next {
				font-size: 0;
				line-height: 0;

				i {
					top: 50%;
					left: 50%;
					width: 8px;
					height: 14px;
					position: absolute;
					display: inline-block;
					margin: -7px 0 0 -4px;
				}

				.ico_svg {
					stroke: #191A1E;
				}

				&:hover {

					.ico_svg {
						stroke: #fff;
					}
				}
			}

			&.pagination_next {

				i {
					@include rotate(180deg);
				}
			}
		}

		&.active {

			a {
				color: #fff;
				font-weight: 500;
				background: $color-brown;
			}
		}
	}
}

.btn_zoom {
	opacity: 1;
	width: 22px;
	height: 22px;
	border: none;
	outline: none;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	display: inline-block;
	background: transparent;
	@include transition(.3s);

	&:hover {
		opacity: 0.7;
		@include transition(.3s);
	}

	&_plus {
		background: transparent url("../img/icon__zoom_plus.svg") 50% 50% no-repeat;
	}

	&_minus {
		background: transparent url("../img/icon__zoom_minus.svg") 50% 50% no-repeat;
	}

	+ .btn_zoom {
		margin-left: 10px;
	}
}

.board_row {
	@include flexbox();
	@include justify-content(space-between);

	&.board_hide {

		.board {
			width: calc(50% - 5px);
		}

		.board_last {
			display: none;
		}

		.board__heading_show {
			display: inline-block;
		}

		.board__content {
			height: 850px;
		}

		.board__scroll {
			height: 848px;
		}
	}
}

.board {
	width: calc(33% - 5px);

	&__heading {
		margin-bottom: 10px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&_title {
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 2.2rem;
			display: inline-block;
		}

		&_toggle {
			font-weight: 500;
			font-size: 1.3rem;
			line-height: 1.5rem;
			color: $color-brown;
			display: inline-block;
			text-decoration: none;
			border-bottom: 1px dashed $color-brown;

			&:hover {
				color: $color-brown;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}

		&_hide {
			display: inline-block;
		}

		&_show {
			display: none;
		}
	}

	&__box {
		padding: 15px;
		border: 1px solid #DEDEDE;
		@include border-radius(4px);
	}

	&__top {
		margin-bottom: 15px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__buttons {
		@include flexbox();
		@include align-items(center);
	}

	&__link {
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: $color-brown;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: $color-brown;
			text-decoration: none;
		}
	}

	&__content {
		height: 700px;
		margin-right: 25px;
		margin-bottom: 25px;
	//	border: 1px solid #DEDEDE;

		&_right {
			margin-right: 0;
			margin-left: 25px;
		}
	}

	&__image {
		width: 100%;
	}

	.board_img {
		width: 100%;
		height: auto;
		display: block;
	}

	&__text {
		padding: 10px 15px;
	}

	&__scroll {
		height: 698px;

		&_right {
			text-align: right;

			.mCSB_outside+.mCSB_scrollTools {
				left: -26px;
				right: auto;
			}
		}

		.mCustomScrollBox {
			border: 1px solid #DEDEDE;
			@include border-radius(4px);
		}

		.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
			opacity: 1;
			background-color: #DEDEDE;
		}

		.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
			height: 4px;
		}

		.mCSB_scrollTools.mCSB_scrollTools_vertical .mCSB_draggerRail {
			width: 4px;
		}

		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			width: 8px;
		}

		.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
			width: 100%;
			height: 8px;
			margin: 4px auto;
		}

		.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			opacity: 1;
			background-color: $color-brown;
		}
	}
}


.btn_save {
	opacity: 1;
	width: 22px;
	height: 22px;
	border: none;
	outline: none;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	margin-right: 10px;
	display: inline-block;
	background: transparent url("../img/icon__save.svg") 50% 50% no-repeat;
	@include transition(.3s);

	&:hover {
		opacity: 0.7;
		@include transition(.3s);
	}
}

.btn_nav {
	opacity: 1;
	width: 22px;
	height: 22px;
	border: none;
	outline: none;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	display: inline-block;
	background: transparent;
	@include transition(.3s);

	&:hover {
		opacity: 0.7;
		@include transition(.3s);
	}

	&_prev {
		background: transparent url("../img/icon__prev.svg") 50% 50% no-repeat;
	}

	&_next {
		background: transparent url("../img/icon__next.svg") 50% 50% no-repeat;
	}
}


.modal {
	width: 660px;
	padding: 0 3px;
	background: #fff;
	overflow: visible;
	font-family: $font-family-head;
	@include border-radius(4px);

	&__header {
		height: 70px;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.2rem;
		padding: 5px 60px 5px 30px;
		border-top: 1px solid #E6E6E6;
		@include flexbox();
		@include flex-direction(column);

		span {
			margin: auto 0;
			display: block;
		}
	}

	&__content {
		padding: 20px 30px 30px 20px;
	}

	.fancybox-close-small {
		opacity: 1 !important;
		z-index: 10;
		top: -35px;
		right: -35px;
		width: 28px;
		height: 28px;
		font-size: 0;
		line-height: 0;
		border: none;
		outline: none;
		cursor: pointer;

		&:after,
		&:before {
			z-index: 10;
			top: 50%;
			left: 50%;
			width: 28px;
			height: 1px;
			content: '';
			opacity: 1 !important;
			border: none !important;
			outline: none !important;
			display: block;
			position: absolute;
			margin-left: -14px;
			margin-top: -1px;
			background: #fff;
			@include border-radius(0);
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}

		svg {
			display: none !important;
		}

		&:hover {

			&:after,
			&:before {
				opacity: 1 !important;
				background: #fff !important;
			}
		}
	}
}