.nav {
	height: 160px;
	padding: 51px 0;
	background: url("../img/nav_bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__menu {
		margin: 0;
		padding: 0;
		font-size: 1.4rem;
		line-height: 1.6rem;
		list-style: none;
		@include flexbox();
		@include align-items(center);

		> li {
			width: 170px;
			display: block;
			@include flex-shrink(0);

			> a {
				color: #fff;
				width: 170px;
				height: 58px;
				padding: 5px 10px;
				font-weight: 500;
				border: 1px solid #fff;
				text-align: center;
				text-decoration: none;
				background: transparent;
				@include flexbox();
				@include flex-direction(column);

				span {
					margin: auto 0;
					display: inline-block;
				}

				&:hover {
					color: #191A1E;
					background: #fff;
					text-decoration: none;
				}
			}


			&:first-child {

				> a {
					@include border-radius(5px 0 0 5px);
				}
			}

			&:last-child {

				> a {
					@include border-radius(0 5px 5px 0);
				}
			}

			&.active {

				> a {
					color: #191A1E;
					background: #fff;
				}
			}
		}
	}
}