.footer {
	color: #fff;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 2rem;
	text-align: center;
	background: #191A1E;

	&__row {
		height: 80px;
		padding: 15px 0;
		@include flexbox();
		@include flex-direction(column);
	}

	&__text {
		width: 100%;
		opacity: 0.7;
		margin: auto 0;
		display: block;
	}
}