// Color system

$color-white:               #fff !default;
$color-black:               #000 !default;
$color-brown:                #A58861 !default;

$color-base:                #191A1E !default;

// Fonts

$font-family-base:          'Rubik', Arial, sans-serif !default;
$font-family-head:          'Rubik', Arial, sans-serif !default;

$font-size-reset:           10px;

$font-size-base:            1.5rem !default;
$font-size-lg:              ($font-size-base * 1.25) !default;
$font-size-sm:              ($font-size-base * .875) !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          700 !default;

$font-weight-base:          $font-weight-normal !default;
$line-height-base:          1.2 !default;



// Page

$body-bg:                   $color-white !default;
$body-color:                $color-base !default;


$gutter: 1.5rem !default; // Set gutter size


