
.btn {
	outline: none;
	color: #A58861;
	cursor: pointer;
	min-width: 160px;
	font-weight: 500;
	font-size: 1.2rem;
	line-height: 2rem;
	user-select: none;
	padding: 12px 25px;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border: 1px solid #A58861;
	@include border-radius(23px);

	&:hover {
		color: #fff;
		background: #A58861;
		text-decoration: none;
	}

	&:active {
		background: #876B46;
		border-color: #876B46;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_brown {
	color: #fff;
	background: #A58861;

	&:hover {
		color: #fff;
		background: #876B46;
		border-color: #876B46;
	}

	&:active {
		background: #A58861;
		border-color: #A58861;
	}
}

.btn_text {
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
	border-color: transparent;
	background-color: transparent;

	&:hover {
		color: $color-base;
		border-color: transparent;
		background-color: transparent;
	}
	&:active {
		color: $color-brown;
		border-color: transparent;
		background-color: transparent;
	}

}

.btn_icon {
	padding: 0;
	width: 36px;
	height: 36px;
	font-size: 0;
	line-height: 0;
	border: none;
	outline: none;
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: $color-brown;
	@include border-radius(4px);

	&:hover {
		text-decoration: none;
		background-color: #876B46;
	}

	&_download {
		background-image: url("../img/icon__download.svg");
	}

	&_reload {
		background-image: url("../img/icon__reload.svg");
	}
}

.btn_delete {
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	border: none;
	outline: none;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	display: inline-block;
	background: transparent url("../img/icon__delete.svg") 50% 50% no-repeat;
}

.btn_edit {
	margin: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	border: none;
	outline: none;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	display: inline-block;
	background: transparent url("../img/icon__edit.svg") 50% 50% no-repeat;
}


.btn_group {
	margin: 0 -5px;
	@include flexbox();
	@include align-items(center);
	@include flex-wrap(wrap);

	.btn {
		margin: 0 5px;
	}
}
