.form_control {
	margin: 0;
	width: 100%;
	height: 46px;
	outline: none;
	color: #8C8C8E;
	font-weight: 300;
	font-size: 1.3rem;
	line-height: 2rem;
	padding: 12px 20px;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	border: 1px solid #E6E6E6;
	@include placeholder(#8C8C8E);
	@include border-radius(4px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
	//	border-color: $color-brown;
		@include placeholder(transparent);
	}

	&.error {
		border-color: #e2001a;
	}
}

textarea.form_control {
	height: auto;
	resize: none;
}

.form_label {
	width: 100%;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.8rem;
	display: inline-block;
	margin-bottom: 10px;
}

.form_group {
	margin-bottom: 24px;
}